header{
    background-image: url(Background.jpg);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;  
}

body {
    cursor: url(pfeil.svg) 8 8, auto;
    background-image: url(Logo2.PNG);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;  
    color: #301e4f;

}

.Titel{
    padding-top: 1%;
    padding-left: 5%;
}


a{
    text-decoration: none;
    color: #2d097f;
    cursor: url(hand.svg) 8 8, auto;
}


a:hover{
    text-decoration: underline;
}


.Headlinks{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
}


.Links{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 4%;
    padding-bottom: 6%;
    font-size: 130%;
    color: #020067;
    box-shadow: 5px 5px 20px 10px rgb(168, 168, 168);
}

@media (max-width: 600px) {
    .mobile {
        width: 25%;
    }
}

@media (max-width: 600px) {
    .mobile2 {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .Links {
        margin-top: 15%;
    }
}

.überschrift{
    font-size: 130%;
    color: #020067;
}


details > summary {
    list-style: none;
  }

details > summary:hover{
    text-decoration: underline;
  }

body{
    background-size: 40%;
    background-position: 50% 50%;
    color: #301e4f;
}


footer{
    background-image: url(Background.jpg);
    background-position: center center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 70%;
}